.footer {
    background-image: linear-gradient(to bottom right, #D8097E, #8C579C, #24468E);
    color: white;
    text-align: center;
    padding: 3rem;

    p {
        font-weight: 700;
        font-size: 1.5rem;
    }

}