@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@keyframes fromBottom {
  from {
    transform: translate(0, 100vh) scale(0.7);
  }
  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.upcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8rem);
  padding: 4rem;
}
@media (max-width: 480px) {
  .upcoming {
    min-height: calc(100vh - 10rem);
  }
}
.upcoming-table {
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to top right, #34e89e, #0f3443);
  width: 80rem;
  max-width: 80vw;
}
.upcoming-table-row {
  text-align: left;
  color: #f1f1ec;
  font-size: 1.9rem;
  cursor: pointer;
}
.upcoming-table-row:hover {
  background-color: #000;
}
.upcoming-table-row-cell {
  margin: 2rem;
  padding: 2rem 1rem;
}
.upcoming-table-heading-title {
  padding: 2rem 1rem;
  border-bottom: solid rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.index-header {
  color: #ffffff;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(216, 9, 126, 0.8), rgba(140, 87, 156, 0.8), rgba(36, 70, 142, 0.8), transparent 70%), url(/header.jpg);
  position: relative;
}
.index-header-container {
  animation: scale 1s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .index-header-container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .index-header-container {
    width: 70%;
  }
}
.index-header-title {
  transition: all 0.2s;
  font-size: 4rem;
  animation: fromBottom 0.5s 1;
}
.index-header-description {
  transition: all 0.2s;
  font-size: 2rem;
  animation: fromBottom 0.5s 1;
}
.index-information {
  text-align: center;
  padding: 3rem;
  color: #EEEEEE;
  height: 100vh;
  position: relative;
  background-color: #000;
}
@media (max-width: 1024px) {
  .index-information {
    padding: 1;
    height: auto;
  }
}
@media (max-width: 480px) {
  .index-information {
    padding: 2rem;
    height: auto;
  }
}
.index-information-header {
  font-size: 3rem;
}
.index-information-image {
  width: 50vw;
  position: absolute;
  text-align: center;
  /* top: 0vh; */
  left: 50%;
  opacity: 0.5;
  z-index: 0;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}
@media (max-width: 1024px) {
  .index-information-image {
    top: 80%;
    width: 80vw;
  }
}
@media (max-width: 480px) {
  .index-information-image {
    top: 92%;
    width: 80vw;
  }
}
.index-information-container {
  display: flex;
  z-index: 2;
  font-size: 1.6rem;
  text-align: left;
  margin-top: 10vh;
}
@media (max-width: 1024px) {
  .index-information-container {
    flex-direction: column;
    margin: 0;
  }
}
.index-information-container-text {
  z-index: 2;
}
.index-information-container-text:first-child {
  margin-right: 3rem;
}
.index-explore {
  text-align: center;
  height: calc(100vh - 10rem);
  padding: 5rem 10rem;
}
@media (max-width: 1024px) {
  .index-explore {
    padding: 3rem;
    height: auto;
  }
}
.index-explore-heading {
  margin-top: 0;
  font-size: 3rem;
}
.index-explore-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .index-explore-container {
    padding-bottom: 10rem;
    height: auto;
    flex-direction: column;
  }
}
.index-explore-container-link {
  transition: all 0.4s;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  width: 20vw;
  height: 70vh;
  transition: all 0.5s;
}
.index-explore-container-link:first-child .index-explore-container-link-back {
  background-color: #0F0324;
}
.index-explore-container-link:first-child .index-explore-container-link-front {
  background-image: url(/gaming_card.jpg);
}
.index-explore-container-link:nth-child(2) .index-explore-container-link-back {
  background-color: #AF5F66;
}
.index-explore-container-link:nth-child(2) .index-explore-container-link-front {
  background-image: url(/office.png);
}
.index-explore-container-link:nth-child(3) .index-explore-container-link-back {
  background-color: #F5F4F9;
}
.index-explore-container-link:nth-child(3) .index-explore-container-link-front {
  background-image: url(/tourism_card.jpg);
}
.index-explore-container-link:first-child {
  color: #fff;
}
.index-explore-container-link:nth-child(2) {
  color: #174838;
}
.index-explore-container-link:nth-child(2) .index-explore-container-link-front {
  color: #174838;
}
.index-explore-container-link:nth-child(3) {
  color: #003962;
}
.index-explore-container-link-front {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.index-explore-container-link-back {
  transform: rotateY(180deg);
  height: calc(100% - 6rem);
  position: absolute;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
}
.index-explore-container-link-back-description {
  text-align: left;
  font-size: 1.6rem;
}
.index-explore-container-link-back-link {
  height: 2rem;
  width: 8rem;
  color: inherit;
  padding: 1rem;
  z-index: 3;
  position: relative;
}
.index-explore-container-link-back-link::after {
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 0.1s;
  width: 100%;
  height: 0.2rem;
  content: " ";
  position: absolute;
  background-image: linear-gradient(to top left, #D8097E, #8C579C, #24468E);
  border-radius: 0.5rem;
}
.index-explore-container-link-back-link span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}
.index-explore-container-link-back-link:hover {
  transition: all 0.2s;
  color: #fff;
}
.index-explore-container-link-back-link:hover::after {
  height: 100%;
}
.index-explore-container-link-back, .index-explore-container-link-front {
  transition: all 1s;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}
.index-explore-container-link:hover .index-explore-container-link-back {
  transform: rotateY(0deg);
}
.index-explore-container-link:hover .index-explore-container-link-front {
  transform: rotateY(-180deg);
}
@media (max-width: 1024px) {
  .index-explore-container-link {
    margin: 2rem auto;
    width: 80vw;
  }
}

.countdown {
  height: calc(100vh - 11rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-container {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 2rem;
}
@media (max-width: 480px) {
  .countdown-container {
    max-width: 80%;
  }
}
.countdown-container-title {
  font-size: 1.6rem;
}
.countdown-container-timer {
  min-width: 44vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 10rem;
  color: #fff;
  background-color: #000;
}
.countdown-container-timer span {
  width: 100%;
}
@media (max-width: 1024px) {
  .countdown-container-timer {
    font-size: 7rem;
  }
}
@media (max-width: 480px) {
  .countdown-container-timer {
    font-size: 4rem;
  }
}

.modal {
  z-index: 6;
  top: 50%;
  padding: 2rem;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.9);
  width: 50vw;
}
.modal-false {
  transform: translate(-50%, 100vh);
}
@media (max-width: 1024px) {
  .modal {
    width: 70vw;
  }
}
@media (max-width: 480px) {
  .modal {
    width: 80vw;
  }
}
.modal-outer {
  background-color: inherit;
  max-height: 70vh;
  overflow: auto;
  padding: 0.5rem;
}
.modal-container {
  padding: 1rem;
  display: flex;
  background-color: inherit;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.modal-close-icon {
  align-self: center;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 900;
  justify-content: center;
  width: 2rem;
  border-radius: 100%;
  padding: 1rem;
  background-color: #000;
}
.modal-close-icon:hover {
  transform: scale(1.05);
}
.modal-header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: inherit;
  justify-content: space-between;
}
.modal-heading {
  text-align: left;
  width: 90%;
  top: 0;
  background-color: inherit;
  font-size: 2.5rem;
}
.modal-content {
  text-align: left;
  font-size: 1.2rem;
}
.modal-link {
  align-self: flex-end;
  width: 17rem;
  height: 2rem;
  color: inherit;
  padding: 1rem;
  z-index: 3;
  position: relative;
}
.modal-link::after {
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 0.1s;
  width: 100%;
  height: 0.2rem;
  content: " ";
  position: absolute;
  background-image: linear-gradient(to top left, #D8097E, #8C579C, #24468E);
  border-radius: 0.5rem;
}
.modal-link span {
  top: 50%;
  font-size: 2rem;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}
.modal-link:hover {
  transition: all 0.2s;
  color: #fff;
}
.modal-link:hover::after {
  height: 100%;
}
.modal-1 {
  background-color: #0F0324;
  color: #fff;
}
.modal-2 {
  color: #174838;
  background-color: #AF5F66;
}
.modal-3 {
  color: #003962;
  background-color: #fff;
}

.footer {
  background-image: linear-gradient(to bottom right, #D8097E, #8C579C, #24468E);
  color: white;
  text-align: center;
  padding: 3rem;
}
.footer p {
  font-weight: 700;
  font-size: 1.5rem;
}

.research {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 27rem);
}
@media (max-width: 480px) {
  .research {
    padding: 2rem;
    min-height: calc(100vh - 14.5rem);
  }
}
.research-helper {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  overflow: hidden;
  height: calc(100vh - 27rem);
  width: 60%;
  display: flex;
}
@media (max-width: 480px) {
  .research-helper {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .research-helper {
    display: block;
    height: auto;
  }
}
.research-helper-left {
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  height: calc(100% - 2rem);
  background-color: black;
  width: 12rem;
}
@media (max-width: 1024px) {
  .research-helper-left-title {
    width: 12rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}
@media (max-width: 1024px) {
  .research-helper-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .research-helper-left {
    flex-direction: column;
  }
}
.research-helper-left-links {
  margin-top: 3rem;
  display: flex;
  height: calc(100% - 8rem);
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .research-helper-left-links {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}
.research-helper-left-links-each {
  transition: all 0.2s;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
@media (max-width: 1024px) {
  .research-helper-left-links-each {
    width: 12rem;
    align-items: center;
    justify-content: center;
  }
}
.research-helper-left-links-each:hover {
  background-color: #fff;
  color: #000;
}
.research-helper-right {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 4rem;
  height: calc(100% - 8rem);
  width: 100%;
  background-image: linear-gradient(to bottom right, #D8097E, #8C579C, #24468E);
}
@media (max-width: 1024px) {
  .research-helper-right {
    padding: 2rem 4rem;
  }
}
.research-helper-right-title {
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .research-helper-right-title {
    margin: 0;
    margin-bottom: 1rem;
  }
}
.research-helper-right-input {
  padding: 3rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 3rem;
  background-color: #101010;
  border-radius: 2rem;
  width: calc(100% - 6rem);
}
@media (max-width: 1024px) {
  .research-helper-right-input {
    font-size: 2rem;
    padding: 2rem;
    width: calc(100% - 12rem);
  }
}

.navbar-label {
  position: fixed;
  transition: all 0.2s;
  right: 0;
  top: 50%;
  transform: translate(67%, -50%);
  z-index: 6;
  cursor: pointer;
  box-shadow: 0 0 1rem white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
}
.navbar-label-image {
  width: 3rem;
}
.navbar-close {
  position: fixed;
  z-index: 2;
  transform: translateX(100vw);
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  background-color: #00000090;
}
.navbar-checkbox:checked ~ .navbar-close {
  transform: translate(0);
}
.navbar-checkbox {
  display: none;
}
.navbar-checkbox:checked ~ .navbar-menu {
  transform: translate(0, 0);
}
.navbar-checkbox:checked ~ .navbar-label {
  transform: translate(-20rem, -50%) scale(1.5);
}
.navbar-menu {
  display: flex;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  right: 0;
  padding: 3rem 1rem;
  height: calc(100vh - 6rem);
  top: 0;
  background-color: #EEEEEE;
  position: fixed;
  width: 20rem;
  transition: all 0.2s;
  transform: translate(100vw, 0);
  /* display: none; */
}
.navbar-menu-links {
  width: 100%;
  display: block;
}
.navbar-menu-links-each {
  cursor: pointer;
  transition: all 0.5s;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2rem auto;
  color: #000;
  width: calc(100% - 4rem);
  display: block;
}
.navbar-menu-links-each:hover {
  transform: scale(1.02);
  background-color: #000;
  color: #fff;
}
.navbar-menu-heading {
  cursor: pointer;
  height: 50vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.navbar-menu-heading-title {
  font-size: 4rem;
}
.navbar-menu-heading-description {
  font-size: 1.2rem;
  font-weight: 200;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top left, #43cea2, #185a9d);
}

::-webkit-scrollbar-track {
  background: transparent;
}

*:not(p) {
  font-family: "Spline Sans", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

html {
  font-size: 10px;
}

/*# sourceMappingURL=globals.css.map */
